In [1]:
import pandas as pd                     
import matplotlib.pyplot as plt      
import numpy as np        
import pandas
import matplotlib as plt
import matplotlib.pyplot as plt
from os import listdir
from os.path import isfile, join
import csv

In [4]:
monterey_path = "./Raw_Data/Monthly_data_raw/Monterey.csv"
monterey=pd.read_csv(monterey_path)
monterey_df=pd.DataFrame(monterey)

In [5]:
monterey_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,TAVG,TMAX,TMIN
0,USC00041534,"CARMEL VALLEY, CA US",36.4805,-121.7244,146.3,2002-02,12.3,19.9,4.7
1,USC00041534,"CARMEL VALLEY, CA US",36.4805,-121.7244,146.3,2002-03,11.3,18.4,4.1
2,USC00041534,"CARMEL VALLEY, CA US",36.4805,-121.7244,146.3,2002-04,NaN,NaN,6.9
3,USC00041534,"CARMEL VALLEY, CA US",36.4805,-121.7244,146.3,2002-05,14.2,21.9,6.5
4,USC00041534,"CARMEL VALLEY, CA US",36.4805,-121.7244,146.3,2002-06,16.4,24.3,8.6

In [21]:
monterey_df.dtypes

STATION       object
NAME          object
LATITUDE     float64
LONGITUDE    float64
ELEVATION    float64
DATE          object
TAVG         float64
TMAX         float64
TMIN         float64
dtype: object

In [9]:
date_02=[(2002-04),(2002-05),(2002-06),(2002-07),(2002-08),(2002-09),(2002-10)]
date_03=[(2003-04),(2003-05)(2003-06),(2003-07),(2003-08),(2003-09),(2003-10)]
date_04=[(2004-04),(2004-05)(2004-06),(2004-07),(2004-08),(2004-09),(2004-10)]
date_05=[(2005-04),(2005-05)(2005-06),(2005-07),(2005-08),(2005-09),(2005-10)]
date_06=[(2006-04),(2006-05)(2006-06),(2006-07),(2006-08),(2006-09),(2006-10)]
date_07=[(2007-04),(2007-05)(2007-06),(2007-07),(2007-08),(2007-09),(2007-10)]
date_08=[(2008-04),(2008-05)(2008-06),(2008-07),(2008-08),(2008-09),(2008-10)]
date_09=[(2009-04),(2009-05)(2009-06),(2009-07),(2009-08),(2009-09),(2009-10)]
date_10=[(2010-04),(2010-05)(2010-06),(2010-07),(2010-08),(2010-09),(2010-10)]
date_11=[(2011-04),(2011-05)(2011-06),(2011-07),(2011-08),(2011-09),(2011-10)]
date_12=[(2012-04),(2012-05)(2012-06),(2012-07),(2012-08),(2012-09),(2012-10)]
date_13=[(2013-04),(2013-05)(2013-06),(2013-07),(2013-08),(2013-09),(2013-10)]
date_14=[(2014-04),(2014-05)(2014-06),(2014-07),(2014-08),(2014-09),(2014-10)]
date_15=[(2015-04),(2015-05)(2015-06),(2015-07),(2015-08),(2015-09),(2015-10)]
date_16=[(2016-04),(2016-05)(2016-06),(2016-07),(2016-08),(2016-09),(2016-10)]
date_17=[(2017-04),(2017-05)(2017-06),(2017-07),(2017-08),(2017-09),(2017-10)]
date_18=[(2018-04),(2018-05)(2018-06),(2018-07),(2018-08),(2018-09),(2018-10)]
date_19=[(2019-04),(2019-05)(2019-06),(2019-07),(2019-08),(2019-09),(2019-10)]
date_20=[(2020-04),(2020-05)(2020-06),(2020-07),(2020-08),(2020-09),(2020-10)]

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-9-398983536de1>, line 1)

In [ ]:
if Date_contains="-04,-05,-06,-7,-08,-09,-10" then drop