In [55]:
import pandas as pd                     
import matplotlib.pyplot as plt      
import numpy as np        
import pandas
import matplotlib as plt
import matplotlib.pyplot as plt
from os import listdir
from os.path import isfile, join
import csv
from datetime import date, timedelta

In [76]:
monterey_path = "././Raw_Data/Monthly_data_raw/Monterey_csv.csv"
sacramento_path="././Raw_Data/Monthly_data_raw/Sacramento.csv"
san_diego_1_path="././Raw_Data/Monthly_data_raw/Sandiego_1.csv"
san_diego_2_path="././Raw_Data/Monthly_data_raw/Sandiego_2.csv"
san_diego_3_path="././Raw_Data/Monthly_data_raw/Sandiego_3.csv"
san_diego_4_path="././Raw_Data/Monthly_data_raw/Sandiego_4.csv"
Santa_Maria_path="././Raw_Data/Monthly_data_raw/Santa_Maria.csv"
Santa_rosa_path="././Raw_Data/Monthly_data_raw/Santa_rosa.csv"
Santa_rosa_2_path="././Raw_Data/Monthly_data_raw/Santa_rosa_2.csv"
#read csv into df
monterey=pd.read_csv(monterey_path)
sacramento=pd.read_csv(sacramento_path)
sandiego_1=pd.read_csv(san_diego_1_path)
sandiego_2=pd.read_csv(san_diego_2_path)
sandiego_3=pd.read_csv(san_diego_3_path)
sandiego_4=pd.read_csv(san_diego_4_path)
santa_maria=pd.read_csv(Santa_Maria_path)
santarosa_1=pd.read_csv(Santa_rosa_path)
santarosa_2=pd.read_csv(Santa_rosa_2_path)
#make each into DF
monterey_df=pd.DataFrame(monterey)
sacramento_df=pd.DataFrame(sacramento)
sandiego_1_df=pd.DataFrame(sandiego_1)
sandiego_2_df=pd.DataFrame(sandiego_2)
sandiego_3_df=pd.DataFrame(sandiego_3)
sandiego_4_df=pd.DataFrame(sandiego_4)
santamaria_df=pd.DataFrame(santa_maria)
santarosa_1_df=pd.DataFrame(santarosa_1)
santarosa_2_df=pd.DataFrame(santarosa_2)

In [57]:
monterey_df

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,EMNT,EMXT,TAVG
0,US1CAMT0001,"MONTEREY 1.0 W, CA US",36.602928,-121.899072,37.5,2009-01,NaN,NaN,NaN
1,US1CAMT0023,"BIG SUR 9.5 NNW, CA US",36.398021,-121.868511,335.3,2010-02,NaN,NaN,NaN
2,US1CAMT0023,"BIG SUR 9.5 NNW, CA US",36.398021,-121.868511,335.3,2010-03,NaN,NaN,NaN
3,US1CAMT0023,"BIG SUR 9.5 NNW, CA US",36.398021,-121.868511,335.3,2010-04,NaN,NaN,NaN
4,US1CAMT0023,"BIG SUR 9.5 NNW, CA US",36.398021,-121.868511,335.3,2010-05,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2225,USC00045795,"MONTEREY, CA US",36.592700,-121.855500,37.2,2019-04,7.8,26.1,14.0
2226,USC00045795,"MONTEREY, CA US",36.592700,-121.855500,37.2,2019-05,7.2,20.6,14.0
2227,USC00045795,"MONTEREY, CA US",36.592700,-121.855500,37.2,2019-06,8.3,34.4,16.2
2228,USC00045795,"MONTEREY, CA US",36.592700,-121.855500,37.2,2019-07,11.1,26.1,16.0
2229,USC00045795,"MONTEREY, CA US",36.592700,-121.855500,37.2,2019-08,11.1,30.0,17.8

In [58]:
monterey_df.dtypes

STATION       object
NAME          object
LATITUDE     float64
LONGITUDE    float64
ELEVATION    float64
DATE          object
EMNT         float64
EMXT         float64
TAVG         float64
dtype: object

In [4]:
#delete months 04-10 for all years

In [5]:
#date_00=('2000-04|2000-05|2000-06|2000-07|2000-08|2000-09|2000-10')
#date_01=('2001-04|2001-05|2001-06|2001-07|2001-08|2001-09|2001-10')
#date_02=('2002-04|2002-05|2002-06|2002-07|2002-08|2002-09|2002-10')
#date_03=('2003-04|2003-05|2003-06|2003-07|2003-08|2003-09|2003-10')
#date_04=('2004-04|2004-05|2004-06|2004-07|2004-08|2004-09|2004-10')
#date_05=('2005-04|2005-05|2005-06|2005-07|2005-08|2005-09|2005-10')
#date_06=('2006-04|2006-05|2006-06|2006-07|2006-08|2006-09|2006-10')
#date_07=('2007-04|2007-05|2007-06|2007-07|2007-08|2007-09|2007-10')
#date_08=('2008-04|2008-05|2008-06|2008-07|2008-08|2008-09|2008-10')
#date_09=('2009-04|2009-05|2009-06|2009-07|2009-08|2009-09|2009-10')
#date_10=('2010-04|2010-05|2010-06|2010-07|2010-08|2010-09|2010-10')
#date_11=('2011-04|2011-05|2011-06|2011-07|2011-08|2011-09|2011-10')
#date_12=('2012-04|2012-05|2012-06|2012-07|2012-08|2012-09|2012-10')
#date_13=('2013-04|2013-05|2013-06|2013-07|2013-08|2013-09|2013-10')
#date_14=('2014-04|2014-05|2014-06|2014-07|2014-08|2014-09|2014-10')
#date_15=('2015-04|2015-05|2015-06|2015-07|2015-08|2015-09|2015-10')
#date_16=('2016-04|2016-05|2016-06|2016-07|2016-08|2016-09|2016-10')
#date_17=('2017-04|2017-05|2017-06|2017-07|2017-08|2017-09|2017-10')
#date_18=('2018-04|2018-05|2018-06|2018-07|2018-08|2018-09|2018-10')
#date_19=('2019-04|2019-05|2019-06|2019-07|2019-08|2019-09|2019-10')
#date_20=('2020-04|2020-05|2020-06|2020-07|2020-08|2020-09|2020-10')

In [6]:
#monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_02)==False]

In [7]:
#monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_03)==False]
#monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_04)==False]
#monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_05)==False]
#monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_06)==False]
#monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_07)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_08)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_09)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_10)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_01)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_00)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_11)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_12)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_13)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_14)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_15)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_16)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_17)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_18)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_19)==False]
# monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_20)==False]

In [59]:
monterey_df_drop_nan=monterey_df.dropna()

In [60]:
#group by DATE then avg TMIN, TMAX and TAVG
#groupby date then med TMin, max and avg
#sel tavg by yr-month then avg into one 'station'
grouped_dates=monterey_df.groupby([monterey_df.DATE]).mean()
group_dates_monterey_median=monterey_df.groupby([monterey_df.DATE]).median()

In [61]:
grouped_dates_monterey_avg=grouped_dates
grouped_dates_monterey_avg

          LATITUDE   LONGITUDE  ELEVATION   EMNT       EMXT       TAVG
DATE
2000-03  36.574080 -121.786360  64.260000  4.575  26.125000  11.800000
2000-04  36.574080 -121.786360  64.260000  5.025  28.475000  13.750000
2000-05  36.574080 -121.786360  64.260000  5.125  29.450000  14.625000
2000-06  36.569425 -121.769075  71.025000  7.400  29.433333  15.866667
2000-07  36.574080 -121.786360  64.260000  8.475  21.825000  15.400000
...            ...         ...        ...    ...        ...        ...
2019-11  36.637198 -121.759970  57.528571  2.250  28.900000  13.250000
2019-12  36.637198 -121.759970  57.528571  1.650  20.850000  12.100000
2020-01  36.637198 -121.759970  57.528571  1.950  23.300000  11.200000
2020-02  36.664012 -121.766689  44.466667 -1.400  26.650000  12.200000
2020-03  36.613995 -121.765233  66.200000  2.200  24.200000  12.400000

[241 rows x 6 columns]

In [63]:

grouped_dates_monterey_avg.to_csv('./Raw_Data/grouped_dates_monterey_avg', index=True)

In [64]:
#sacramento cleaning
sacramento_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,EMNT,EMXT,TAVG
0,US1CASA0062,"SACRAMENTO 2.7 SSW, CA US",38.533270,-121.493212,7.0,2019-12,NaN,NaN,NaN
1,US1CASA0061,"RANCHO CORDOVA 5.9 ESE, CA US",38.570137,-121.196535,74.1,2019-02,NaN,NaN,NaN
2,US1CASA0061,"RANCHO CORDOVA 5.9 ESE, CA US",38.570137,-121.196535,74.1,2019-03,NaN,NaN,NaN
3,US1CASA0061,"RANCHO CORDOVA 5.9 ESE, CA US",38.570137,-121.196535,74.1,2019-04,NaN,NaN,NaN
4,US1CASA0061,"RANCHO CORDOVA 5.9 ESE, CA US",38.570137,-121.196535,74.1,2019-05,NaN,NaN,NaN

In [15]:
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_01)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_00)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_02)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_03)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_04)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_05)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_06)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_07)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_08)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_09)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_10)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_11)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_12)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_13)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_14)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_15)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_16)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_17)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_18)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_19)==False]
# sacramento_clean=sacramento_drop_na[sacramento_drop_na["DATE"].str.contains(date_20)==False]

In [66]:
sacramento_drop_na=sacramento.dropna()

In [67]:
grouped_dates_sac_avg=sacramento_clean.groupby([sacramento_clean.DATE]).mean()
group_dates_sac_median=sacramento_clean.groupby([sacramento_clean.DATE]).median()

In [68]:
sandiego0=sandiego_1.append(sandiego_2)

In [69]:
sandiego1=sandiego0.append(sandiego_3)
sandiego_combined=sandiego1.append(sandiego_4)

In [70]:
sandiego_dropped=sandiego_combined.dropna()

In [71]:
san_diego_grouped_dates_avg=sandiego_dropped.groupby([sandiego_dropped.DATE]).mean()
san_diego_group_dates_median=sandiego_dropped.groupby([sandiego_dropped.DATE]).median()

In [73]:
#export grouped dates avg, grouped dates median and group dates with separated yr month
grouped_dates_monterey_avg.to_csv('./Raw_Data/grouped_dates_monterey_avg.csv', index=True)
grouped_dates_sac_avg.to_csv('./Raw_Data/grouped_dates_sacramento_avg.csv', index=True)

In [79]:
#Santa_Maria cleaning
santa_maria_dropped=santa_maria.dropna()

In [24]:

# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_00)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_02)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_03)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_04)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_05)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_06)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_07)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_08)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_09)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_10)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_01)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_12)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_13)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_14)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_15)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_16)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_17)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_18)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_19)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_20)==False]
# santamaria_clean=santa_maria_dropped[santa_maria_dropped["DATE"].str.contains(date_11)==False]

In [80]:
santamaria_grouped_dates_avg=santamaria_clean.groupby([santamaria_clean.DATE]).mean()
santamaria_group_dates_median=santamaria_clean.groupby([santamaria_clean.DATE]).median()

In [81]:
#santa rosa
santarosa_combined=santarosa_1.append(santarosa_2)

In [82]:
santarosa_drop=santarosa_combined.dropna()

In [29]:
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_01)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_00)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_02)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_03)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_04)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_05)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_06)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_07)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_08)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_09)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_10)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_11)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_12)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_13)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_14)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_16)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_16)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_17)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_18)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_19)==False]
# santarosa_clean=santarosa_drop[santarosa_drop["DATE"].str.contains(date_20)==False]

In [83]:
santarosa_grouped_dates_avg=santarosa_clean.groupby([santarosa_clean.DATE]).mean()
santarosa_group_dates_median=santarosa_clean.groupby([santarosa_clean.DATE]).median()

In [84]:
stockton_path="././Raw_Data/Monthly_data_raw/Stockton.csv"
#read csv into df
stockton=pd.read_csv(stockton_path)
stockton_df=pd.DataFrame(stockton)
stockton_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,EMNT,EMXT,TAVG
0,US1CASJ0003,"STOCKTON 2.1 NW, CA US",37.9912,-121.3333,2.1,2008-11,NaN,NaN,NaN
1,US1CASJ0003,"STOCKTON 2.1 NW, CA US",37.9912,-121.3333,2.1,2008-12,NaN,NaN,NaN
2,US1CASJ0003,"STOCKTON 2.1 NW, CA US",37.9912,-121.3333,2.1,2009-01,NaN,NaN,NaN
3,US1CASJ0003,"STOCKTON 2.1 NW, CA US",37.9912,-121.3333,2.1,2009-02,NaN,NaN,NaN
4,US1CASJ0003,"STOCKTON 2.1 NW, CA US",37.9912,-121.3333,2.1,2009-03,NaN,NaN,NaN

In [85]:
stockton_df=stockton_df.dropna()

In [33]:
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_01)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_00)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_04)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_04)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_03)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_04)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_05)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_06)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_07)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_08)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_09)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_10)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_11)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_12)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_13)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_14)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_16)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_16)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_17)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_18)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_19)==False]
# stockton_clean=stockton_df[stockton_df["DATE"].str.contains(date_20)==False]

In [86]:
stockton_grouped_dates_avg=stockton_clean.groupby([stockton_clean.DATE]).mean()
stockton_group_dates_median=stockton_clean.groupby([stockton_clean.DATE]).median()

In [87]:
#EXPORT
san_diego_grouped_dates_avg.to_csv('./Raw_Data/grouped_dates_sandiego_avg.csv', index=True)
santamaria_grouped_dates_avg.to_csv('./Raw_Data/grouped_dates_santamaria_avg.csv', index=True)
santarosa_grouped_dates_avg.to_csv('./Raw_Data/grouped_dates_santarosa_avg.csv', index=True)
stockton_grouped_dates_avg.to_csv('./Raw_Data/grouped_dates_stockton_avg.csv', index=True)

In [88]:
san_diego_grouped_dates_avg.reset_index(inplace=True)

In [89]:
san_diego_grouped_dates_avg

,DATE,LATITUDE,LONGITUDE,ELEVATION,EMNT,EMXT,TAVG
0,2000-01,32.800845,-116.973197,254.876471,1.141176,27.788235,13.658824
1,2000-02,32.790225,-116.957903,275.526667,3.893333,27.520000,13.406667
2,2000-03,32.802929,-116.970066,260.712500,2.562500,26.743750,13.368750
3,2000-04,32.802929,-116.970066,260.712500,5.731250,30.381250,16.481250
4,2000-05,32.800881,-116.969030,254.133333,7.480000,32.346667,18.740000
...,...,...,...,...,...,...,...
231,2019-11,32.851286,-117.004503,261.368750,5.250000,32.125000,16.400000
232,2019-12,32.851286,-117.004503,261.368750,2.818750,23.600000,12.775000
233,2020-01,32.851286,-117.004503,261.368750,3.381250,26.075000,12.993750
234,2020-02,32.851286,-117.004503,261.368750,0.768750,28.475000,13.631250
235,2020-03,32.851286,-117.004503,261.368750,4.800000,25.106250,13.325000

In [90]:
# san_diego_grouped_dates_avg.('./Raw_Data/grouped_dates_sandiego_avg.csv', index=True)