In [1]:
import pandas as pd                     
import matplotlib.pyplot as plt      
import numpy as np        
import pandas
import matplotlib as plt
import matplotlib.pyplot as plt
from os import listdir
from os.path import isfile, join
import csv
from datetime import date, timedelta

In [81]:
monterey_path = "./Raw_Data/Monthly_data_raw/Monterey_csv.csv"
sacramento_path="./Raw_Data/Monthly_data_raw/Sacramento.csv"
san_diego_1_path="./Raw_Data/Monthly_data_raw/Sandiego_1.csv"
san_diego_2_path="./Raw_Data/Monthly_data_raw/Sandiego_2.csv"
san_diego_3_path="./Raw_Data/Monthly_data_raw/Sandiego_3.csv"
san_diego_4_path="./Raw_Data/Monthly_data_raw/Sandiego_4.csv"
Santa_Maria_path="./Raw_Data/Monthly_data_raw/Santa_Maria.csv"
Santa_rosa_path="./Raw_Data/Monthly_data_raw/Santa_rosa.csv"
Santa_rosa_2_path="./Raw_Data/Monthly_data_raw/Santa_rosa_2.csv"
#read csv into df
monterey=pd.read_csv(monterey_path)
sacramento=pd.read_csv(sacramento_path)
sandiego_1=pd.read_csv(san_diego_1_path)
sandiego_2=pd.read_csv(san_diego_2_path)
sandiego_3=pd.read_csv(san_diego_3_path)
sandiego_4=pd.read_csv(san_diego_4_path)
santa_maria=pd.read_csv(Santa_Maria_path)
santarosa_1=pd.read_csv(Santa_rosa_path)
santarosa_2=pd.read_csv(Santa_rosa_2_path)
#make each into DF
monterey_df=pd.DataFrame(monterey)
sacramento_df=pd.DataFrame(sacramento)
sandiego_1_df=pd.DataFrame(sandiego_1)
sandiego_2_df=pd.DataFrame(sandiego_2)
sandiego_3_df=pd.DataFrame(sandiego_3)
sandiego_4_df=pd.DataFrame(sandiego_4)
santamaria_df=pd.DataFrame(santa_maria)
santarosa_1_df=pd.DataFrame(santarosa_1)
santarosa_2_df=pd.DataFrame(santarosa_2)

In [68]:
monterey_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,EMNT,EMXT,TAVG
0,US1CAMT0001,"MONTEREY 1.0 W, CA US",36.602928,-121.899072,37.5,2009-01,NaN,NaN,NaN
1,US1CAMT0023,"BIG SUR 9.5 NNW, CA US",36.398021,-121.868511,335.3,2010-02,NaN,NaN,NaN
2,US1CAMT0023,"BIG SUR 9.5 NNW, CA US",36.398021,-121.868511,335.3,2010-03,NaN,NaN,NaN
3,US1CAMT0023,"BIG SUR 9.5 NNW, CA US",36.398021,-121.868511,335.3,2010-04,NaN,NaN,NaN
4,US1CAMT0023,"BIG SUR 9.5 NNW, CA US",36.398021,-121.868511,335.3,2010-05,NaN,NaN,NaN

In [69]:
monterey_df.dtypes

STATION       object
NAME          object
LATITUDE     float64
LONGITUDE    float64
ELEVATION    float64
DATE          object
EMNT         float64
EMXT         float64
TAVG         float64
dtype: object

In [10]:
#delete months 04-10 for all years

In [70]:
date_00=('2000-04|2000-05|2000-06|2000-07|2000-08|2000-09|2000-10')
date_01=('2001-04|2001-05|2001-06|2001-07|2001-08|2001-09|2001-10')
date_02=('2002-04|2002-05|2002-06|2002-07|2002-08|2002-09|2002-10')
date_03=('2003-04|2003-05|2003-06|2003-07|2003-08|2003-09|2003-10')
date_04=('2004-04|2004-05|2004-06|2004-07|2004-08|2004-09|2004-10')
date_05=('2005-04|2005-05|2005-06|2005-07|2005-08|2005-09|2005-10')
date_06=('2006-04|2006-05|2006-06|2006-07|2006-08|2006-09|2006-10')
date_07=('2007-04|2007-05|2007-06|2007-07|2007-08|2007-09|2007-10')
date_08=('2008-04|2008-05|2008-06|2008-07|2008-08|2008-09|2008-10')
date_09=('2009-04|2009-05|2009-06|2009-07|2009-08|2009-09|2009-10')
date_10=('2010-04|2010-05|2010-06|2010-07|2010-08|2010-09|2010-10')
date_11=('2011-04|2011-05|2011-06|2011-07|2011-08|2011-09|2011-10')
date_12=('2012-04|2012-05|2012-06|2012-07|2012-08|2012-09|2012-10')
date_13=('2013-04|2013-05|2013-06|2013-07|2013-08|2013-09|2013-10')
date_14=('2014-04|2014-05|2014-06|2014-07|2014-08|2014-09|2014-10')
date_15=('2015-04|2015-05|2015-06|2015-07|2015-08|2015-09|2015-10')
date_16=('2016-04|2016-05|2016-06|2016-07|2016-08|2016-09|2016-10')
date_17=('2017-04|2017-05|2017-06|2017-07|2017-08|2017-09|2017-10')
date_18=('2018-04|2018-05|2018-06|2018-07|2018-08|2018-09|2018-10')
date_19=('2019-04|2019-05|2019-06|2019-07|2019-08|2019-09|2019-10')
date_20=('2020-04|2020-05|2020-06|2020-07|2020-08|2020-09|2020-10')

In [71]:
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_02)==False]

In [73]:
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_03)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_04)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_05)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_06)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_07)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_08)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_09)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_10)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_01)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_00)==False]

In [74]:
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_11)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_12)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_13)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_14)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_15)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_16)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_17)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_18)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_19)==False]
monterey_df=monterey_df[monterey_df["DATE"].str.contains(date_20)==False]

In [75]:
monterey_df_drop_nan=monterey_df.dropna()

In [76]:
#group by DATE then avg TMIN, TMAX and TAVG
#groupby date then med TMin, max and avg
#sel tavg by yr-month then avg into one 'station'
grouped_dates=monterey_df.groupby([monterey_df.DATE]).mean()
group_dates_monterey_median=monterey_df.groupby([monterey_df.DATE]).median()

In [77]:
grouped_dates_monterey_avg=grouped_dates
grouped_dates_monterey_avg

          LATITUDE   LONGITUDE  ELEVATION      EMNT    EMXT       TAVG
DATE
2000-03  36.574080 -121.786360  64.260000  4.575000  26.125  11.800000
2000-11  36.569425 -121.769075  71.025000  0.733333  22.200  10.833333
2000-12  36.574080 -121.786360  64.260000  0.975000  24.175  11.900000
2001-01  36.574080 -121.786360  64.260000  0.300000  24.750  10.025000
2001-02  36.574080 -121.786360  64.260000  1.125000  25.275  10.675000
...            ...         ...        ...       ...     ...        ...
2019-11  36.637198 -121.759970  57.528571  2.250000  28.900  13.250000
2019-12  36.637198 -121.759970  57.528571  1.650000  20.850  12.100000
2020-01  36.637198 -121.759970  57.528571  1.950000  23.300  11.200000
2020-02  36.664012 -121.766689  44.466667 -1.400000  26.650  12.200000
2020-03  36.613995 -121.765233  66.200000  2.200000  24.200  12.400000

[101 rows x 6 columns]

In [78]:
group_dates_monterey_median

          LATITUDE   LONGITUDE  ELEVATION  EMNT   EMXT   TAVG
DATE
2000-03  36.592700 -121.845300      37.20  4.70  26.40  11.90
2000-11  36.590400 -121.777250      43.75  1.10  22.20  10.90
2000-12  36.592700 -121.845300      37.20  0.55  23.90  11.90
2001-01  36.592700 -121.845300      37.20  0.60  24.75  10.05
2001-02  36.592700 -121.845300      37.20  1.40  25.30  10.65
...            ...         ...        ...   ...    ...    ...
2019-11  36.673164 -121.728389      41.50  2.25  28.90  13.25
2019-12  36.673164 -121.728389      41.50  1.65  20.85  12.10
2020-01  36.673164 -121.728389      41.50  1.95  23.30  11.20
2020-02  36.681027 -121.756013      29.75 -1.40  26.65  12.20
2020-03  36.630632 -121.755289      45.90  2.20  24.20  12.40

[101 rows x 6 columns]

In [82]:
#sacramento cleaning
sacramento_df.head()

                                                                                            2517926
STATION     NAME                          LATITUDE  LONGITUDE   ELEVATION DATE    EMNT EMXT    TAVG
US1CASA0062 SACRAMENTO 2.7 SSW, CA US     38.53327  -121.493212 7.0       2019-12 NaN  NaN      NaN
US1CASA0061 RANCHO CORDOVA 5.9 ESE, CA US 38.570137 -121.196535 74.1      2019-02 NaN  NaN      NaN
                                                                          2019-03 NaN  NaN      NaN
                                                                          2019-04 NaN  NaN      NaN

TypeError: merge() missing 1 required positional argument: 'right'

TAVG    11.00
TMIN     5.35
TMAX    16.65
dtype: float64